#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#main-container .container {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
}



.wrapper {
    width: 600px;
    margin: 0 auto;
}

button + a{
    margin-right: 20px;
}